*/bin/
*/doc
AndroidPing/gen/
.metadata
*/doc
doc
*.jardesc
*.jar
*.classpath
*.project

OS/hallshep.cse461.config.ini
P4Report.pdf
AndroidSnet/gen/
OS/\.classpath
OSConsoleApps/\.classpath
utilConsoleOnly/\.classpath